:root {
    --white: #ffffff;
    --dark: #494949;
    --primary: #ddbbFF;
    --secundary: #fafd3c;
}

html {
    font-family: "Roboto", sans-serif;
    font-size: 62.5%;
}

header h1 {
    text-align: center;
    font-size: 4rem;
    color: var(--dark);
    font-weight: bolder;
}

header h1 span {
    font-size: 2rem;
}